<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="日报">

    <title>日报日报</title>




<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/side-menu.css">
    <!--<![endif]-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?e12d6d03ce6ea69fb085e36b6e50aaa3";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

<style type="text/css">
    .pure-paginator{
        margin: auto;
    }
    .footer{
        background-color: #999;
        margin-top: 4em;
    }
    .footer p{
        margin-top: 3em;
        text-align: center;
        height: 5em;
        color: white;
    }
</style>
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">日报</a>

            <ul>
            {% for tag in tags %}
                <li><a href="{{url_for('index', tag=tag, page=1)}}">{{tag}}</a></li>
            {% endfor %}

                <li class="menu-item-divided pure-menu-selected">
                    <a href="#">所有标签</a>
                </li>
                {% for k in keyword %}
                    <li><a href="{{url_for('index', tag=k, page=1)}}">{{k}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="main">
<!--         <div class="header">
            <h1>Page Title</h1>
            <h2>A subtitle for your page goes here</h2>
        </div> -->

        <div class="content">
            {% for item in items %}
            <p>
            {% for intro in item['intro'] %}
                <!-- <h2 class="content-subhead">{{item['']}}</h2> -->
                    {{intro}}
            {% endfor %}
            {% for link in item['link'] %}
                <a href="{{link}}">链接</a>
            {% endfor %}
            </p>
            {% for tag in item['tag']+item['keyword'] %}
                <a href="{{url_for('index', tag=tag, page=1)}}" class="button-xsmall pure-button">{{tag}}</a>
            {% endfor %}
            {% endfor %}
        </div>

        <div class="pure-g">
            <ul class="pure-paginator">
                <li><a class="pure-button prev" href="{{url_for('index', tag=current_tag, page=1)}}">&#171;</a></li>
                {% for i in range(current_page-4 if current_page>4 else 1, current_page+4 if (current_page+4)<max_page else max_page) %}
                    {% if current_page == i %}
                        <li><a class="pure-button" href="{{url_for('index', tag=current_tag, page=i)}}">{{i}}</a></li>
                    {% else %}
                        <li><a class="pure-button pure-button-active" href="{{url_for('index', tag=current_tag, page=i)}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a class="pure-button next" href="{{url_for('index', tag=current_tag, page=max_page)}}">&#187;</a></li>
            </ul>
        </div>

        <div class="footer l-box center-block">
            <p>
                数据源来自<a href="http://forum.memect.com">好东西论坛</a>
            </p>
        </div>


    </div>
</div>





<script src="/static/js/ui.js"></script>


</body>
</html>
